@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #0c8997;
  --color-secondary: #69c5ca;
  --color-green1: #88b042;
  --color-green2: #b7d08f;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}